.color{
	color: #218569;
}
.color1{
	color: #6FBAFB;
}
.colorus{
	color: #B8C2AF;
}
.color2{
	color: #1E2609;
}
.color3{
	color: #5F676A;
}
.color4{
	color:#292C2E ;
}
.color5{
	color: #1E2609;
}
.color7{
	color: #979E91;
}
.color6{
	color: #DEDEDE;
}
.color8{
	color: #F68C40;
}
.color9{
	color: #3A3F44;
}
.color10{
	color: #979E91;
}
.color11{
	color: #223406;
}
.color12{
	color: #936B23;
}
.color13{
	color: #9A9A9A;
}
.color14{
	color: #218569;
}
.color15{
	color: #2FB278;
}
.bag-colorus{
	background-color: #B2DED1;
}
.bag-color1{
	background-color: #000000;
}
.bag-color{
	background-color: #218569;
}
.bag-color3{
	background-color: #2FB278;
}
.bag-color2{
	background-color: #FFFFFF;
}
.margin-rig-6{
	margin-right: 6rpx;
}
.margin-rig-l24{
	margin-right: 24rpx;
}
.margin-rig-13{
	margin-right: 13rpx;
}
.margin-rig-16{
	margin-right: 16rpx;
}
.margin-left-4{
	margin-left: 4rpx;
}
.margin-left-18{
	margin-left: 18rpx;
}
.margin-left-32{
	margin-left:32rpx;
}
.margin-left-20{
	margin-left: 20rpx;
}
.margin-left-24{
	margin-left: 24rpx;
}
.margin-left-34{
	margin-left: 34rpx;
}
.margin-left-40{
	margin-left: 40rpx;
}
.font-weight-400{
	font-weight: 400;
}
.font-weight-600{
	font-weight: 600;
}
.line-height{
	line-height: 33rpx;
}
.margin-top6{
	margin-top: 6rpx;
}
.margin-top10{
	margin-top: 10rpx;
}
.margin-top12{
	margin-top: 12rpx;
}
.margin-top-14 {
	margin-top:14rpx
}
.margin-top16{
	margin-top: 16rpx;
}
.margin-top20{
	margin-top: 20rpx;
}
.margin-top21{
	margin-top: 21rpx;
}
.margin-top24{
	margin-top: 24rpx;
}
.margin-top26{
	margin-top: 26rpx;
}
.margin-top40{
	margin-top: 40rpx;
}
.margin-bottom_10{
	margin-bottom: 10rpx;
}
.margin-bottom_20{
	margin-bottom: 20rpx;
}
.margin-tb-auto{
	margin: auto 0;
}
.margin-lr-auto{
	margin:0 auto;
}
.fui-font-size_18{
	font-size: 18rpx;
}
.fui-font-size_19{
	font-size: 19rpx;
}
.fui-font-size_20{
	font-size: 20rpx;
}
.fui-font-size_22{
	font-size: 22rpx;
}
.fui-font-size_24{
	font-size: 24rpx;
}
.fui-font-size_26{
	font-size: 26rpx;
}
.fui-font-size_28{
	font-size: 28rpx;
}
.fui-font-size_32{
	font-size: 32rpx;
}
.fui-font-size_30{
	font-size: 30rpx;
}
.fui-font-size_34{
	font-size: 34rpx;
}
.fui-font-size_48{
	font-size: 48rpx;
}
.border-radius-20{
	border-radius: 20rpx;
}
.border-radius-24{
	border-radius: 24rpx;
}
.border-radius-30{
	border-radius: 30rpx;
}
.border1{
	border: 1rpx solid #000000;
}
.border2{
	border: 1rpx solid #218569;
}
.border3{
	border: 1rpx solid #9A9A9A;
}
.option{
	opacity: 0.5;
}