/**
 * @Author: Wang chunsheng  email:2192138785@qq.com
 * @Date:   2021-10-30 10:40:39
 * @Last Modified by:   Wang chunsheng  email:2192138785@qq.com
 * @Last Modified time: 2023-06-28 11:37:18
 */
 /* 细节控制样式 */
 .round {
     border-radius: 5000px
 }
 
 .radius {
     border-radius: 6px
 }
 
 .radius-4 {
     border-radius: 8px
 }
 
 .radius-5 {
     border-radius: 11px
 }
 
 .solid::after {
     border: 1px solid rgba(0,0,0,.1)
 }
 
 .solid-top::after {
     border-top: 1px solid rgba(0,0,0,.1)
 }
 
 .solid-right::after {
     border-right: 1px solid rgba(0,0,0,.1)
 }
 
 .solid-bottom::after {
     border-bottom: 1px solid rgba(0,0,0,.1)
 }
 
 .solid-left::after {
     border-left: 1px solid rgba(0,0,0,.1)
 }
 
 .solids::after {
     border: 8px solid #eee
 }
 
 .solids-top::after {
     border-top: 8px solid #eee
 }
 
 .solids-right::after {
     border-right: 8px solid #eee
 }
 
 .solids-bottom::after {
     border-bottom: 8px solid #eee
 }
 
 .solids-left::after {
     border-left: 8px solid #eee
 }
 
 .dashed::after {
     border: 1px dashed #ddd
 }
 
 .dashed-top::after {
     border-top: 1px dashed #ddd
 }
 
 .dashed-right::after {
     border-right: 1px dashed #ddd
 }
 
 .dashed-bottom::after {
     border-bottom: 1px dashed #ddd
 }
 
 .dashed-left::after {
     border-left: 1px dashed #ddd
 }
 
 .shadow[class*=white] {
     --ShadowSize: 0 1px 6px
 }
 
 .shadow-lg {
     --ShadowSize: 0px 40px 100px 0px
 }
 
 .shadow-warp {
     position: relative;
     box-shadow: 0 0 10px rgba(0,0,0,.1)
 }
 
 .shadow-warp:after,.shadow-warp:before {
     position: absolute;
     content: "";
     top: 20px;
     bottom: 30px;
     left: 20px;
     width: 50%;
     box-shadow: 0 30px 20px rgba(0,0,0,.2);
     transform: rotate(-3deg);
     z-index: -1
 }
 
 .shadow-warp:after {
     right: 20px;
     left: auto;
     transform: rotate(3deg)
 }
 
 .shadow-blur {
     position: relative
 }
 
 .shadow-blur::before {
     content: "";
     display: block;
     background: inherit;
     filter: blur(10px);
     position: absolute;
     width: 100%;
     height: 100%;
     top: 10px;
     left: 10px;
     z-index: -1;
     opacity: .4;
     transform-origin: 0 0;
     border-radius: inherit;
     transform: scale(1,1)
 }
 
 
 
 
 .align-start {
     align-items: flex-start
 }
 
 .align-end {
     align-items: flex-end
 }
 
 .align-center {
     align-items: center
 }
 
 .align-stretch {
     align-items: stretch
 }
 
 .self-start {
     align-self: flex-start
 }
 
 .self-center {
     align-self: flex-center
 }
 
 .self-end {
     align-self: flex-end
 }
 
 .self-stretch {
     align-self: stretch
 }
 
 .align-stretch {
     align-items: stretch
 }
 
 .justify-start {
     justify-content: flex-start
 }
 
 .justify-end {
     justify-content: flex-end
 }
 
 .justify-center {
     justify-content: center
 }
 
 .justify-between {
     justify-content: space-between
 }
 
 .justify-around {
     justify-content: space-around
 }
 
 .margin-0 {
     margin: 0
 }
 
 .margin-xs {
     margin: 10px
 }
 
 .margin-sm {
     margin: 20px
 }
 
 .margin {
     margin: 30px
 }
 
 .margin-lg {
     margin: 40px
 }
 
 .margin-xl {
     margin: 50px
 }
 
 .margin-top-xs {
     margin-top: 10px
 }
 
 .margin-top-sm {
     margin-top: 20px
 }
 
 .margin-top {
     margin-top: 30px
 }
 
 .margin-top-lg {
     margin-top: 40px
 }
 
 .margin-top-xl {
     margin-top: 50px
 }
 
 .margin-right-xs {
     margin-right: 10px
 }
 
 .margin-right-sm {
     margin-right: 20px
 }
 
 .margin-right {
     margin-right: 30px
 }
 
 .margin-right-lg {
     margin-right: 40px
 }
 
 .margin-right-xl {
     margin-right: 50px
 }
 
 .margin-bottom-xs {
     margin-bottom: 10px
 }
 
 .margin-bottom-sm {  
     margin-bottom: 20px
 }
 
 .margin-bottom {
     margin-bottom: 30px
 }
 
 .margin-bottom-lg {
     margin-bottom: 40px
 }
 
 .margin-bottom-xl {
     margin-bottom: 50px
 }
 
 .margin-left-xs {
     margin-left: 10px
 }
 
 .margin-left-sm {
     margin-left: 20px
 }
 
 .margin-left {
     margin-left: 30px
 }
 
 .margin-left-lg {
     margin-left: 40px
 }
 
 .margin-left-xl {
     margin-left: 50px
 }
 
 .margin-lr-xs {
     margin-left: 10px;
     margin-right: 10px
 }
 
 .margin-lr-sm {
     margin-left: 20px;
     margin-right: 20px
 }
 
 .margin-lr {
     margin-left: 30px;
     margin-right: 30px
 }
 
 .margin-lr-lg {
     margin-left: 40px;
     margin-right: 40px
 }
 
 .margin-lr-xl {
     margin-left: 50px;
     margin-right: 50px
 }
 
 .margin-tb-xs {
     margin-top: 10px;
     margin-bottom: 10px
 }
 
 .margin-tb-sm {
     margin-top: 20px;
     margin-bottom: 20px
 }
 
 .margin-tb {
     margin-top: 30px;
     margin-bottom: 30px
 }
 
 .margin-tb-lg {
     margin-top: 40px;
     margin-bottom: 40px
 }
 
 .margin-tb-xl {
     margin-top: 50px;
     margin-bottom: 50px
 }
 
 .padding-left-0 {
     padding-left:0px!important;
 }
 
 .padding-right-0 {
     padding-right:0px!important;
 }
 
 .padding-xs {
     padding: 10px
 }
 
 .padding-sm {
     padding: 20px
 }
 
.padding-0 {
    padding: 0px
}

 .padding {
     padding: 30px
 }
 
 .padding-lg {
     padding: 40px
 }
 
 .padding-xl {
     padding: 50px
 }
 
 .padding-top-xs {
     padding-top: 10px
 }
 
 .padding-top-sm {
     padding-top: 20px
 }
 
 .padding-top {
     padding-top: 30px
 }
 
 .padding-top-lg {
     padding-top: 40px
 }
 
 .padding-top-xl {
     padding-top: 50px
 }
 
 .padding-right-xs {
     padding-right: 10px
 }
 
 .padding-right-sm {
     padding-right: 20px
 }
 
 .padding-right {
     padding-right: 30px
 }
 
 .padding-right-lg {
     padding-right: 40px
 }
 
 .padding-right-xl {
     padding-right: 50px
 }
 
 .padding-bottom-xs {
     padding-bottom: 10px
 }
 
 .padding-bottom-sm {
     padding-bottom: 20px
 }
 
 .padding-bottom {
     padding-bottom: 30px
 }
 
 .padding-bottom-lg {
     padding-bottom: 40px
 }
 
 .padding-bottom-xl {
     padding-bottom: 50px
 }
 
 .padding-left-xs {
     padding-left: 10px
 }
 
 .padding-left-sm {
     padding-left: 20px
 }
 
 .padding-left {
     padding-left: 30px
 }
 
 .padding-left-lg {
     padding-left: 40px
 }
 
 .padding-left-xl {
     padding-left: 50px
 }
 
 .padding-lr-xs {
     padding-left: 10px;
     padding-right: 10px
 }
 
 .padding-lr-sm {
     padding-left: 20px;
     padding-right: 20px
 }
 
 .padding-lr {
     padding-left: 30px;
     padding-right: 30px
 }
 
 .padding-lr-lg {
     padding-left: 40px;
     padding-right: 40px
 }
 
 .padding-lr-xl {
     padding-left: 50px;
     padding-right: 50px
 }
 
 .padding-tb-xs {
     padding-top: 10px;
     padding-bottom: 10px
 }
 
 .padding-tb-sm {
     padding-top: 20px;
     padding-bottom: 20px
 }
 
 .padding-tb {
     padding-top: 30px;
     padding-bottom: 30px
 }
 
 .padding-tb-lg {
     padding-top: 40px;
     padding-bottom: 40px
 }
 
 .padding-tb-xl {
     padding-top: 50px;
     padding-bottom: 50px
 }
 
 
 .fl {
     float: left
 }
 
 .fr {
     float: right
 }
 

 .text-small {
    font-size: 10px
}

.text-xss {
    font-size: 15px
}

 .text-xs {
     font-size: 20px
 }
 
 .text-sm {
     font-size: 24px
 }
 
 .text-df {
     font-size: 28px
 }
 
 .text-lg {
     font-size: 32px
 }
 
 .text-xl {
     font-size: 36px
 }
 
 .text-xxl {
     font-size: 44px
 }
 
 .text-xxxl {
     font-size: 66px
 }
 
 .text-sl {
     font-size: 80px
 }
 
 .text-xsl {
     font-size: 120px
 }
 
 .text-Abc {
     text-transform: Capitalize
 }
 
 .text-ABC {
     text-transform: Uppercase
 }
 
 .text-abc {
     text-transform: Lowercase
 }
 
 .text-price::before {
     content: "¥";
     font-size: 80%;
     margin-right: 4px
 }
 
 .text-cut {
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden
 }
 
 .text-ellipsis {
     text-overflow: ellipsis;
     white-space: normal;
     overflow: hidden
 }
 
 .text-bold {
     font-weight: 700
 }
 
 .text-center {
     text-align: center
 }
 
 .text-content {
     line-height: 1.6
 }
 
 .text-left {
     text-align: left
 }
 
 .text-right {
     text-align: right
 }
 
 .text-red,
 .line-red,
 .lines-red {
     color: #EF1313;
 }
 
 .text-orange,
 .line-orange,
 .lines-orange {
     color: #f37b1d;
 }
 
 .text-yellow,
 .line-yellow,
 .lines-yellow {
     color: #fbbd08;
 }
 
 .text-olive,
 .line-olive,
 .lines-olive {
     color: #8dc63f;
 }
 
 .text-green,
 .line-green,
 .lines-green {
     color: #39b54a;
 }
 
 .text-cyan,
 .line-cyan,
 .lines-cyan {
     color: #1cbbb4;
 }
 
 .text-blue,
 .line-blue,
 .lines-blue {
     color: #0081ff;
 }
 
 .text-purple,
 .line-purple,
 .lines-purple {
     color: #6739b6;
 }
 
 .text-mauve,
 .line-mauve,
 .lines-mauve {
     color: #9c26b0;
 }
 
 .text-pink,
 .line-pink,
 .lines-pink {
     color: #e03997;
 }
 
 .text-brown,
 .line-brown,
 .lines-brown {
     color: #a5673f;
 }
 
 .text-grey,
 .line-grey,
 .lines-grey {
     color: #8799a3;
 }
 
 .text-gray,
 .line-gray,
 .lines-gray {
     color: #aaaaaa;
 }
 
 .text-black,
 .line-black,
 .lines-black {
     color: #333333;
 }
 
 .text-white,
 .line-white,
 .lines-white {
     color: #ffffff;
 }
 
 /* ==================
           文本
  ==================== */
 
 .text-xs {
     font-size: 20px;
 }
 
 .text-sm {
     font-size: 24px;
 }
 
 .text-df {
     font-size: 28px;
 }
 
 .text-lg {
     font-size: 32px;
 }
 
 .text-xl {
     font-size: 36px;
 }
 
 .text-xxl {
     font-size: 44px;
 }
 
 .text-sl {
     font-size: 80px;
 }
 
 .text-xsl {
     font-size: 120px;
 }
 
 .text-Abc {
     text-transform: Capitalize;
 }
 
 .text-ABC {
     text-transform: Uppercase;
 }
 
 .text-abc {
     text-transform: Lowercase;
 }
 
 .text-price::before {
     content: "¥";
     font-size: 80%;
     margin-right: 4px;
 }
 
 .text-cut {
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }
 
 .text-bold {
     font-weight: bold;
 }
 
 .text-center {
     text-align: center;
 }
 
 .text-content {
     line-height: 1.6;
 }
 
 .text-left {
     text-align: left;
 }
 
 .text-right {
     text-align: right;
 }
 
 .text-red,
 .line-red,
 .lines-red {
     color: #e54d42;
 }
 
 .text-orange,
 .line-orange,
 .lines-orange {
     color: #f37b1d;
 }
 
 .text-yellow,
 .line-yellow,
 .lines-yellow {
     color: #fbbd08;
 }
 
 .text-olive,
 .line-olive,
 .lines-olive {
     color: #8dc63f;
 }
 
 .text-green,
 .line-green,
 .lines-green {
     color: #39b54a;
 }
 
 .text-cyan,
 .line-cyan,
 .lines-cyan {
     color: #1cbbb4;
 }
 
 .text-blue,
 .line-blue,
 .lines-blue {
     color: #0081ff;
 }
 
 .text-purple,
 .line-purple,
 .lines-purple {
     color: #6739b6;
 }
 
 .text-mauve,
 .line-mauve,
 .lines-mauve {
     color: #9c26b0;
 }
 
 .text-pink,
 .line-pink,
 .lines-pink {
     color: #e03997;
 }
 
 .text-brown,
 .line-brown,
 .lines-brown {
     color: #a5673f;
 }
 
 .text-grey,
 .line-grey,
 .lines-grey {
     color: #8799a3;
 }
 
 .text-gray,
 .line-gray,
 .lines-gray {
     color: #aaaaaa;
 }
 
 .text-black,
 .line-black,
 .lines-black {
     color: #333333;
 }
 
 .text-white,
 .line-white,
 .lines-white {
     color: #ffffff;
 }
 .text-pointer{
    cursor:pointer;
 }

 /* .top-search {
    background: #fff;
    padding:0 14px !important;
    border-radius: 8px;
  }
  .bg-search {
    padding: 33px 17px;
  } */

  .setting-container{
    background-color: #fff;
    margin: 20px;
    border-radius: 4px;
  }

  
[class^="el-dd"], [class*="el-dd"]
{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
 
 