/**
 * @Author: Wang chunsheng  email:2192138785@qq.com
 * @Date:   2022-04-19 09:37:20
 * @Last Modified by:   Wang chunsheng  email:2192138785@qq.com
 * @Last Modified time: 2023-06-28 16:57:22
 */
// base color
$blue:#324157;
$light-blue:#324157;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$primary: #00afc7;

// sidebar
$menuText:#ffffff;
$menuActiveText:#324157;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951
$subMenuActiveBg:#2CD8F8; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#31384B;
// $menuHover:#263445;
$menuHover:#2CD8F8;

$subMenuBg:#1f2d3d;
$subMenuHover:#2CD8F8;

$sideBarWidth: 250px;

// 分栏右侧
$sideRightWidth: 140px;

$sideLeftWidth: 90px;

// 分栏导航颜色
$leftmenuText:#37414b;
$leftmenuActiveText:#37414b;

$leftmenuBg:#ececec;
// $menuHover:#263445;
$leftmenuHover:#2CD8F8;

$leftsubMenuBg:#1f2d3d;
$leftsubMenuHover:#2CD8F8;
$leftsubMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951
$leftsubMenuActiveBg:#2CD8F8; // https://github.com/ElemeFE/element/issues/12951


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
